<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body id="aboutmebody">
    <header>
        <%- include('../layout/header') %>
        <!-- <h1 id="aboutTitle"> ReGear Career Crew</h1> -->
        <div class="aboutSection"></div>
        <h2 id="aboutSecondTitle"> Our App's Mission </h2>
        <p id="description">Our app was designed the with one goal in mind to ease yours! The idea of transitioning into a new career can be quite daunting but we wanted to create a one stop shop for all of your career needs. We created somewhere for new career seekers to go to find information about the all big items that need to be checked off of your career to do list!

        </p>
    </header>
    <main>
        <h2 id="about3"> About the Career Crew </h2>
        <div class="groupMember">
                <img src="../image/Michael.jpeg" alt="Michael Campbell" style="width:250px;height:300x;">   
                <h4 class="crewParagraph"> <a href="https://www.linkedin.com/in/michael-campbell-85a07b103/">Michael Campbell</a></h4>
            </div>
            <div class="hide">
                <h3>U. S. Navy Veteran, Software Developer and professional communicator.

                </h3>
        </div>
        
        <div class="groupMember">

            <img src="../image/Mark.jpg" alt="Mark Gerald Duenas" style="width:250px;height:300x;"> 
            <h4 class="crewParagraph"> <a href="https://www.linkedin.com/in/mark-gerald-duenas">Mark Gerald Duenas :)</a></h4>
            <div class="hide">
            <h3> United States Navy Veteran aspiring to be a Software Developer. Excited to embark on this journey and looking to learn and improve everyday!</h3>
        </div>
        </div>
      
        <div class="groupMember">
            <img src="../image/cb.jpg" alt="Cey;lin Brooks" style="width:250px;height:300x;">
            <h4 class="crewParagraph">  <a href="https://www.linkedin.com/in/ceylinbrooks/">Ceylin Brooks</a></h4>
        </div>
        <div class="hide">
            <h3>An Air Force Vet, a Software Developer and a lifelong Student!</h3>
        </div>
       
        <div class="groupMember">
            <img src="../image/TJ.jpeg" alt="TJ.jpeg" style="width:250px;height:300x;"> 
            <h4 class="crewParagraph">  <a href="https://www.linkedin.com/in/terrence-simms/">Terrence Simms</a></>
                </h4>
        </div>
        <div class="hide">
            <h3>Software Developer, IT Specialist, Entrepreneur and Youth Group Organizer</h3>
      </div>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>
</html>

