<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=BioRhyme&family=MuseoModerno:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <div class = "head">
      <form action="/results" method="POST">
        <label for="name"> Full Name: </label>
        <input type="text" name="name">

        <label for="email"> Email: </label>
        <input type="email" name="email">

        <label for="zipcode"> Zipcode: </label>
        <input type="number" name="zipcode">

        <label for="career"> Career Interest: </label>
        <input type="text" name="career">
        
        <button type="submit" class="button"><i class="fas fa-cog fa-spin"></i> Regear<i class="fas fa-cog fa-spin"></i> </button>
      </form>
    </div>
  </main>
  <footer>
    <%- include('../layout/footer') %>
  </footer>
</div>
</body>
</html>
