<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap"
      rel="stylesheet"
  />
  <title> Regear Career </title>
</head>
<body>
  <header>
    <%- include('layout/header') %>
  </header>
  <main>
    <div class = "main-form">
      <form action="/results" method="POST">
        <label for="name"> Full Name: </label>
        <input type="text" name="name">

        <label for="email"> Email: </label>
        <input type="email" name="email">

        <label for="zipcode"> Zipcode: </label>
        <input type="text" name="zipcode">

        <label for="career"> Career Interest: </label>
        <input type="text" name="career">
        
      </form>
    </div>
  </main>
</body>
</html>