<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <div class = "main-form">
      <form action="/results" method="POST">
        <label for="name"> Full Name: </label>
        <input type="text" name="name">

        <label for="email"> Email: </label>
        <input type="email" name="email">

        <label for="zipcode"> Zipcode: </label>
        <input type="number" name="zipcode">

        <label for="career"> Career Interest: </label>
        <input type="text" name="career">
        
        <button> Submit </button>
      </form>
    </div>
  </main>
  <footer>
    <%- include('../layout/footer') %>
  </footer>
</body>
</html>