<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <link href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=BioRhyme&family=MuseoModerno:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <p>SORRY NO RESULT FOR THAT SEARCH!</p>
  </main>
  <footer>
    <%- include('../layout/footer') %>
  </footer>
</body>
</html>