<div class= "footer">
  <!-- <div class="links2"> -->
    <!-- <i class="fab fa-facebook-square fa-3x"></i>
    <i class="fab fa-linkedin fa-3x"></i>
    <i class="fab fa-twitter-square fa-3x"></i>
    <i class="fab fa-instagram-square fa-3x"></i> -->
  <!-- </div> -->
  <div class="bottom">
    <a href="/aboutus">About Us</a>
    <p> &copy; 2021 MMTC </p>
  </div>
</div>
    