<div class= "footer">
  <!-- <div class="links2"> -->
    <!-- <i class="fab fa-facebook-square fa-3x"></i>
    <i class="fab fa-linkedin fa-3x"></i>
    <i class="fab fa-twitter-square fa-3x"></i>
    <i class="fab fa-instagram-square fa-3x"></i> -->
  <!-- </div> -->
  <div class="bottom">
    <a href="/aboutus">About Us</a>
<<<<<<< HEAD
    <!-- <a href="/contact">Contact Us</a> -->
=======
>>>>>>> 43332de7cf6b4d4c8989069b16ab1d1df022a66e
    <p> &copy; 2021 MMTC </p>
  </div>
</div>
    