<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">

<div class= "header">
  <h1> Re-<i class="fas fa-cog fa-spin"></i> Career </h1>
  <h1> Jumpstart your career now! </h1>
</div>

<nav class= "links">
  <a href="/"> Home </a>
</nav>